finetuning-gnns/chem_dataset.zip
finetuning-gnns/bio_dataset.zip
dataset/
runs/
data/
saved_models/
cusions/
initial_models/
finetuned_models/
saved_files/
model_architecture/
model_gin/
result/
__pycache__/


*.pyc
!pygcn/data/
outputs/
saved/
traces